services:
  postgres:
    image: postgres:latest
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: base_bank
    ports:
      - "5432:5432"
    volumes:
      - ./backend/.postgres_data:/var/lib/postgresql/data
  
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
    
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    depends_on:
      - postgres
      - redis
    environment:
      - DB_URL=postgresql://root:root@postgres:5432/base_bank
      - REDIS_URL=redis://redis:6379/0
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    ports:
      - "8000"
    volumes:
      - ./backend:/app

  redis:
    image: redis:latest
    container_name: redis_cache
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - ./backend/.redis_data:/data
  
  celery:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: celery_worker
    restart: always
    depends_on:
      - backend
      - redis
    environment:
      - DB_URL=postgresql://root:root@postgres:5432/base_bank
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      - PYTHONPATH=/app/src
    command: celery -A src.tasks.celery_config.celery_app worker --loglevel=info
    volumes:
      - ./backend:/app

  nginx:
    image: nginx:latest
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./proxy/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend

